body {
    background-image: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255), rgb(131, 199, 255));
    background-color: rgb(255, 255, 255);
    margin: 0 10%;
    font-family: sans-serif;
    }
  nav {
      color: #000;
      font-size: larger;
      background-color: lightblue;
      text-align: right;
      line-height: 4;
  }
  h1 {
    text-align: center;
    font-family:"Varela Round";
    font-weight: normal;
    text-transform: uppercase;
    border-bottom: 1px solid #000000;
    margin-top: 30px;
  }
  h2 {
  line-height: 2;
  margin-left: 4;
  margin-right: 4;
  text-align: center;
  font-family: sans-serif;
  color: #000000;
  font-size: 1em;
  }
  footer {
        border-top: 1px solid #57b1dc;
        text-align: center;
        padding-top: 1em;
  }
  footer img {
      margin-left: .5em;
      margin-right: .5em;
  }
  a
  {text-decoration: none;}
  a:link{
      color: #ff0000;
  }
  a:hover{
      color: white;
      background-color: darkblue;
  }
  