body {
    background-image: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255),  rgb(131, 199, 255), rgb(131, 199, 255));
     margin: 0 10%;
    font-family: sans-serif;

  }
nav {
    color: #000;
    font-size: larger;
    background-color: lightblue;
    text-align: right;
    line-height: 4;
}
h1 {
  text-align: center;
  font-family: "Varela Round";
  font-weight: normal;
  text-transform: uppercase;
  border-bottom: 1px solid #000000;
  margin-top: 30px;
}
table {
    line-height: 2;
    background-color:rgba(135, 206, 235, .5) ;
    font-weight: normal;
    font-family: sans-serif;
    text-align: center;
}
h2 {
text-align:left;
font-family: sans-serif;
color: #000000;
font-size: 1em;
}
article {
    text-align: left;
    margin-left: 20px;
}
footer {
	  border-top: 1px solid #57b1dc;
	  text-align: center;
	  padding-top: 1em;
}
footer img {
	margin-left: .5em;
	margin-right: .5em;
}
section{
    text-align: center;
}
a
{text-decoration: none;}
a:link{
    color: #ff0000;
}
a:hover{
    color: white;
    background-color: darkblue;
}